.unn{
    background-color: rgb(184, 184, 184);
}
a.l{
    color: rgb(75, 75, 75);
}
a.o{
    color: blue;
}
a.n{
    color: rgb(255, 34, 34);
}
a.s{
    color: rgb(255, 169, 10);
}
a.d{
    color: rgb(0, 173, 0);
}